.container{
	padding: 80px 80px;
}

.contain {
	display: flex; 
	flex-direction: column; 
}

.disableLine {
	text-Decoration: none;
}

.searchbar input[type=text] {
    left: 96px;
    margin-left: 70px;
    width: 300px;
    text-align: center;
    padding: 14px 12px;
    border-radius: 24px;
    border: 2px solid;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.searchbar input[type=text]:focus {
  width: 100%;
}


